.root{
    -fx-font-size: 15;    
}
.button{
    -fx-background-color: rgba(55, 64, 75, 0.863);
    -fx-text-fill: rgb(243, 243, 243);
    -fx-background-radius: 15;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 15;
    -fx-padding: 3px, 5px;
}
#buttonOnTouch{
    -fx-background-color: rgb(55, 64, 75);
    -fx-text-fill: rgb(243, 243, 243);
    -fx-background-radius: 15;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 15;
    -fx-padding: 3px, 5px;
}
#buttonOut{
    -fx-background-color: rgba(55, 64, 75, 0.863);
    -fx-text-fill: rgb(243, 243, 243);
    -fx-background-radius: 15;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 15;
    -fx-padding: 3px, 5px;
}
.label{
    -fx-text-fill: black;
    
}
.normal-color{
    -fx-text-fill: black;
    
    -fx-background-color: rgba(55, 64, 75, 0.616) ;
    -fx-background-radius: 15;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 15;
    
    -fx-mark-color: black ;
    



}
.shade{
    -fx-background-color: rgba(94, 94, 94, 0.267) ;
}


.normal-color .context-menu {
    -fx-background-color: gray;
    -fx-min-width: 290px;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    
    
    
    
 }
.normal-color .menu-item:focused {
    
    -fx-background-color: rgba(0, 0, 0, 0.322) ;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: black;
    
    
    
}

#stage{
    -fx-border-radius: 15;
}

#bold{
    -fx-font-weight: bold;
}

.table-view {
    -fx-background-color: transparent;
    
    
 }
 
 .table-view:focused{
     -fx-background-color: transparent;
     
     
     
 }
 
 
 
 .table-view .column-header-background{
     -fx-background-color: linear-gradient(rgba(0, 0, 0, 0.600) , rgba(0, 0, 0) );
     
 }
 
 .table-view .column-header-background .label{
     -fx-background-color: transparent;
     -fx-text-fill: white;
     
 }
 
 .table-view .column-header {
     -fx-background-color: transparent;
     
 }
 
 .table-view .table-cell{
     -fx-text-fill:white;
     
 }
 
 .table-row-cell{
     -fx-background-color: -fx-table-cell-border-color, rgba(55, 64, 75, 0.890);
     
     -fx-padding: 0;
    
 }
 
 .table-row-cell:odd{
     -fx-background-color: -fx-table-cell-border-color, rgba(55, 64, 75,0.890);
     
     -fx-padding: 0;
     ;
 }
 
 .table-row-cell:selected {
     -fx-background-color: rgba(148, 148, 148, 0.993);
     
     
 }
 
